<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMStable_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Zolotarev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>duality_check.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>dump_mpreal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>fit_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lib_stable_distribution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>parallel =_duality_check.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>quick_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>random_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>stable_distribution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>stable_distribution_v3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>trace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>trace_Vec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>trace_zolotarev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>xcheck_to_file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F0F5B7D1FC14186002D310E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F2DFC711FC2A1A000F32D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F36D0951F81CD37006686EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F36D0A51F81EC49006686EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F414BDD200450440030BDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7DD2FE1F8193FD00EE7744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7DD30C1F81AC8C00EE7744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FC6C3611F8488ED004E30CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF0304D1F89CD7800C3AC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF030621F8BD6EC00C3AC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF3BFDC1F7A042F00F3371F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF3C0361F7EBB0F00F3371F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF3C0781F7EE9A900F3371F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFB88011FFA033E00C4CFE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
